{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "lib"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infections.log",
        "stryker": {
            "report": "main"
        }
    },
    "mutators": {
        "@default": true,
        "@number": false,
        "global-ignoreSourceCodeByRegex": [
            "\\\\assert\\(.+\\);"
        ]
    },
    "minMsi": 77,
    "minCoveredMsi": 77
}
